*{
    margin: 0 auto;
    font-size: x-large;
    font-family: sans-serif;
}
body {
    background-color: #907952;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.buttons.shake {
    animation: horizontal-shaking 0.2s 1;
}
.buttonss {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    border: 0px;
    height: 100px;
    width: 100px;
    color: black;
}
.all{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.layer {
    justify-content: start;
}
/* .all:nth-child(2){
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    
    flex-shrink: 0
} */
.info{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}
.textpi{
    /* margin-right: 100px; */
    /* flex-shrink: 0 */
}
@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(2px)
    }

    50% {
        transform: translateX(-2px)
    }

    75% {
        transform: translateX(2px)
    }

    100% {
        transform: translateX(0)
    }
}
.yellow{
    color: #FEFF54;
}
.orange{
    color: #EE8733;
}
.pink{
    color: #E933F6;
}
.red {
    color: #E93323;
}
.cyan {
    color: #52fff9
}
.gray{
    color: #555555;
}
.white {
    color:#FFF;
}
.green {
    color:#75FB4C;
}
.magenta {
    color: #75147B;
}
.blue {
    color: #0000F4;
}
.ligne {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10px;
}
#textpi p {
    display: flex;
    width: min-content;
    margin: 0 0 0 0;
}
#seepi {
    display:none;
    flex-direction: row;
    justify-content: space-between;
}
.seepic {
    width: 200px ;
}
.cseepi {
    margin: 0 0 0 0;
}
.pigames {
    display: flex;
    width: 100%;
    align-items: center;
}



.disable-dbl-tap-zoom {
    touch-action: manipulation;
}